{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}


<div class="container-xxl hero-header py-5 mt-4" style="min-height: 600px;">
  <div class="row justify-content-center mb-4">
    <div class="col-10 col-sm-6 col-md-4 text-center">
      <h1 class="text-white fs-2">Register new account</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-10 col-sm-6 col-md-4 ">
       <form action="{{url_for('auth_bp.register')}}" method="post" class="bg-light p-4 rounded shadow">
        <div class="mb-3">
            <label class="form-label" for="">Name</label>
            <input class="form-control" type="text" name = "name" required>
        </div>
        
        <div class="mb-3">
            <label  class="form-label" for="">Email</label>
            <input class="form-control" type="email" name = "email" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="">Password</label>
            <input class="form-control" type="password" name = "password1"  placeholder="Atleast 6 characters needed." required>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="">Confirm password</label>
            <input class="form-control"  type="password" name = "password2" required>

        </div>
        
        
        <button type="submit" class="btn btn-primary w-100">Register</button>



    </form>
    </div>
  </div>
 <!-- Flash zprávy -->
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6 col-md-4 bg-primary text-center">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          
              {% for message in messages %}
                <div style="color: rgb(255, 57, 57); font-size: 20px;">{{ message }}<div>
              {% endfor %}
          
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>

</div>
</div>

   

{% endblock %}