 <footer>
        <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
            <div class="container py-5">
                   <div class = "d-flex justify-content-center">
                <div class="text-start text-white">
                    
                        <h1 class="text-white" style="font-size: medium;">Created by:</h1>
                        <div class=>Jakub Večeřa</div>
                        <div class=><i class="bi bi-chat-dots"></i></i> jakubvecera.web@gmail.com</div>
                        <div ><i class="bi bi-linkedin"><a class="text-white" href="https://www.linkedin.com/in/jakub-ve%C4%8De%C5%99a-0bb249353/"> Jakub Večeřa</a></i></div>
                        <hr>
                        <div class="mt-3">© Jakub Večeřa {{year}}</div> 
                    
                </div>
               </div> 
            </div>
        </div>
        <!-- Back to Top -->
       <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</footer>
