
{% extends 'base.html' %}

{% block content %}    
<!-- search bar -->
            <div class="container-xxl  hero-header">
                
                <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <!-- pokud je uživatel přihlašen zobrazit pozdraveni uživatele -->
                        
                        {% if user.is_authenticated %}
                        <h3 class="text-white">Hello {{user.user_name}}!</h3>
                        {% else %}
                        {% endif %}
                       
                        <form  method="POST">
                        <div class="position-relative w-100 mt-3">
                            
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" name = "food"  type="text" placeholder="Find For Food with porcion" style="height: 48px;">
                            <button type="submit" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                            
                        </div>
                        </form>
                    
                    </div>
                    <div class="col-md-6 text-center mb-n5 d-none d-md-block">
                        <img class="img-fluid mt-5" style="max-height: 250px;" src="{{url_for('static', filename = 'img/calorie icon.png')}}">
                    </div>
                </div>
            </div>
        </div>
                

        
<!-- nutrition table -->

<div class="container-xxl text-center py-5">  
  <div class="w-75 mx-auto pb-2">
           
        
        

        {% if food_info.name == "N/A"  %}
            <h1 class="text-align: center " > Not Found. <span style="color: #00B98E">Type name of food correctly.</span> </h1>
            
        {% elif food_info.name == "-" %}
        
        
        
        {% else %}
            <h1 class="text-align: center " >{{food_info.porcion}} of {{food_info.name}} has <span style="color: #00B98E">{{food_info.calories}} calories.</span> </h1>
        {% endif %}
        
        
<table class="table  table-bordered shadow-sm   mt-4 pt-5 w-100 mx-auto ">
    <thead class="table-primary">   
    <tr>
      <th colspan="2" style = "text-align: center;background-color: #00B98E;">
        Serving Size:
        {% if food_info %}
            {{food_info.porcion}} 

        {% else %}
           
            -
        {% endif %}
        

        </th>
    </tr>
  </thead>
  <tbody class="text-start">
    
    
    <tr>
        <td style="color: #000000; font-weight: bold;">Protein</td>
        <td>{% if food_info %}
            {{food_info.protein}} g
        {% else %}
            -
        {% endif %}</td>
    </tr>
    <tr style = "background-color:  #00B98E">
      <td style="color: #000000; font-weight: bold;">Carbohydrates</td>
      <td>{% if food_info %}
            {{food_info.carbs}} g
        {% else %}
            -
        {% endif %}</td>
    </tr>
    <tr>
      <td style="color: #000000; font-weight: bold;">Sugar</td>
      <td>{% if food_info %}
            {{food_info.sugar}} g
        {% else %}
            -
        {% endif %}</td>
    </tr>
    
    <tr style = "background-color:  #00B98E">
      <td style="color: #000000; font-weight: bold;"> Fat</td>
      <td>{% if food_info %}
            {{food_info.fat}} g
        {% else %}
            -
        {% endif %}</td>
    </tr>
    
    <tr>
      <td style="color: #000000; font-weight: bold;">Fiber</td>
      <td>{% if food_info %}
            {{food_info.fiber}} g
        {% else %}
            -
        {% endif %}</td>
    </tr>
</tbody>
</table>   
</div>
</div>
      


{% if user.is_authenticated %}

    {% include 'accordion.html' %}
   
{% else %}

{% endif %}

 {% include 'about.html' %}

{% endblock %}    
      


       
        


